﻿body {
    background-image: url("background.png");
    text-align: center;
}
h1 {
    color: white;
    margin-top: 30vh;
    font-size: 50px;
}
input {
    height: 2vh;
    width: 25vw;
    box-sizing: border-box;
}
button {
    height: 2vh;
}